
@{
    ViewBag.Title = "Quản lý học kì";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-2 text-right">
        <button class="btn btn-success" data-toggle="modal" data-target="#semesterModal">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Thêm học kì mới
        </button>
    </div>
</div>


<div class="table-responsive">
    <table class="table table-hover-color">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên</th>
                <th>Đặt</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tblSemesters">  </tbody>
    </table>
</div>

<!-- Modal -->
<div id="semesterModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form id="semesterForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="modalTitle">Tạo học kì mới</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-10 form-group">
                            <label>Tên</label>
                            <input type="text" class="form-control" id="txtName" name="name" placeholder="Tên học kì" />
                        </div>
                        <div class="col-md-2 form-group">
                            <label>Đặt</label>
                            <input type="number" name="order" min="1" class="form-control" id="txtOrder"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btnSubmit">Hoàn tất</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>

    </div>
</div>



@section scripts{
    <script src="~/Assets/admin/semester.js"></script>
}






