
@{
    ViewBag.Title = "Danh sách phòng máy";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
    ViewData["page"] = "Danh sách phòng máy";
    ViewData["icon"] = "fa fa-desktop fa-fw";
    ViewData["url"] = "/admin/room";
}

<div class="row">
    <div class="col-md-4">
        <div class="input-group">
            <input type="text" class="form-control" id="txtKeyword">
            <span class="input-group-btn"><button type="button" class="btn btn-info" id="btnSearch"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button></span>
        </div>
    </div>
    <div class="col-md-2 text-right">
        <button class="btn btn-success" data-toggle="modal" data-target="#roomModal">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Thêm phòng mới
        </button>
    </div>
</div>
<div style="width: 100%;overflow-x: auto; margin-top:10px;">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên phòng</th>
                <th>Vị trí</th>
                <th>Số máy</th>
                <th>Hoạt động</th>
                <th>Màn hình</th>
                <th>Mainboard</th>
                <th>CPU</th>
                <th>RAM</th>
                <th>VGA</th>
                <th>SSD</th>
                <th>HDD</th>
                <th>Bàn phím</th>
                <th>Chuột</th>
                <th>Tai nghe</th>
                <th>Loa</th>
                <th>PSU</th>
                <th>Trạng thái</th>
                <th>Ghi chú</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tblRooms" style="white-space: nowrap;">  </tbody>
    </table>
</div>


<!-- Modal -->
<div id="roomModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <form id="roomForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="modalTitle">Tạo phòng mới</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Tên</label>
                            <input type="text" class="form-control" name="name" id="txtName" placeholder="Nhập tên phòng" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Vị trí</label>
                            <input type="text" class="form-control" name="location" id="txtLocation" placeholder="Vị trí phòng" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 form-group">
                            <label>Number Of PC</label>
                            <input type="number" min="1" name="numberpc" class="form-control" id="txtNumberOfPC" />
                        </div>
                        <div class="col-md-2 form-group">
                            <label>Active</label>
                            <input type="number" min="1" name="activepc" class="form-control" id="txtActivePC" />
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Room Status</label>
                            <select class="form-control" id="slRoomStatuses"></select>
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Màn hình</label>
                            <input type="text" class="form-control" id="txtMonitor" name="monitor" placeholder="Thông tin màn hình" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label>Mainboard</label>
                            <input type="text" class="form-control" id="txtMainboard" name="mainboard" placeholder="Thông tin Mainboard" />
                        </div>
                        <div class="col-md-4 form-group">
                            <label>CPU</label>
                            <input type="text" class="form-control" id="txtCPU" placeholder="Thông tin CPU" name="cpu" />
                        </div>
                        <div class="col-md-4 form-group">
                            <label>RAM</label>
                            <input type="text" class="form-control" id="txtRAM" placeholder="Thông tin RAM" name="ram" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label>VGA</label>
                            <input type="text" class="form-control" id="txtVGA" placeholder="Thông tin VGA" name="vga"/>
                        </div>
                        <div class="col-md-4 form-group">
                            <label>SSD</label>
                            <input type="text" class="form-control" id="txtSSD" placeholder="Thông tin SSD" name="ssd"/>
                        </div>
                        <div class="col-md-4 form-group">
                            <label>HDD</label>
                            <input type="text" class="form-control" id="txtHDD" placeholder="Thông tin HDD" name="hdd"/>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label>Bàn phím</label>
                            <input type="text" class="form-control" id="txtKeyboard" placeholder="Thông tin bàn phím" name="keyboard"/>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Chuột</label>
                            <input type="text" class="form-control" id="txtMouse" placeholder="Thông tin chuột" name="mouse"/>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Headphone</label>
                            <input type="text" class="form-control" id="txtHeadphone" placeholder="Thông tin tai nghe" name="headphone"/>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Loa</label>
                            <input type="text" class="form-control" id="txtSpeaker" placeholder="Thông tin loa" name="speaker" />
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>PSU</label>
                            <input type="text" class="form-control" id="txtPSU" placeholder="Thông tin PSU" name="psu"/>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Ghi chú</label>
                            <input type="text" class="form-control" id="txtNote" placeholder="Ghi chú" name="remark"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="btnSubmit">Hoàn tất</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>

    </div>
</div>

@section scripts{
    <script src="~/Assets/admin/room.js"></script>
}
