
@{
    ViewBag.Title = "Danh sách giảng viên";
    ViewData["icon"] = "fa fa-user";
    ViewData["url"] = "/admin/lecturer";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 text-right">
        <select class="form-control" id="slFaculties"></select>
    </div>
    <div class="col-md-6">
        <div class="input-group">
            <input type="text" class="form-control" id="txtKeyword" placeholder="Nhập tên giảng viên ...">
            <span class="input-group-btn">
                <button type="button" class="btn btn-info" id="btnSearch">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Tìm kiếm
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-2 text-right">
        <button class="btn btn-success" data-toggle="modal" data-target="#lecturerModal">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Thêm mới
        </button>
    </div>
</div>


<div class="table-responsive">
    <table class="table table-hover-color">
        <thead>
            <tr>
                <th>#</th>
                <th>Khoa</th>
                <th>Chức vụ</th>
                <th>Tên đăng nhập</th>
                <th>Họ tên</th>
                <th>Email</th>
                <th>SĐT</th>
                <th>Hoạt động</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tblLecturers">  </tbody>
    </table>
</div>

<!-- Modal -->
<div id="lecturerModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <form id="lecturerform">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="modalTitle">Thêm giảng viên mới</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Chức vụ</label>
                            <select class="form-control" id="slPositions"></select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Họ tên</label>
                            <input type="text" class="form-control" id="txtFullname" name="fullname" placeholder="Nhập họ tên"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label>Tên đăng nhập</label>
                            <input type="text" class="form-control" id="txtUsername" name="username" placeholder="Tên đăng nhập" />
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Mật khẩu</label>
                            <input type="password" value="123" class="form-control" id="txtPassword" name="password" placeholder="Mật khẩu" />
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Nhập lại mật khẩu</label>
                            <input type="password" value="123" class="form-control" id="txtRepeatPassword" name="confirm_password" placeholder="Nhập lại mật khẩu"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label>SĐT</label>
                            <input type="text" class="form-control" id="txtPhone" name="phone" placeholder="SĐT"/>
                        </div>
                        <div class="col-md-8 form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" id="txtEmail" name="email" placeholder="Email"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btnSubmit">Hoàn tất</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>

    </div>
</div>



@section scripts{
    <script src="~/Assets/admin/lecturer.js"></script>
}




