
@{
    ViewBag.Title = "Quản lý chức vụ";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-2 text-right">
        <button class="btn btn-success" data-toggle="modal" data-target="#positionModal">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Thêm mới chức vụ
        </button>
    </div>
</div>


<div class="table-responsive">
    <table class="table table-hover-color">
        <thead>
            <tr>
                <th>#</th>
                <th>Kí hiệu</th>
                <th>Tên</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tblPositions">  </tbody>
    </table>
</div>

<!-- Modal -->
<div id="positionModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form id="lecturerform">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="modalTitle">Thêm chức vụ mới</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label>Kí hiệu</label>
                            <input type="text" class="form-control" id="txtAcronym" name="acronym" placeholder="Kí hiệu" />
                        </div>
                        <div class="col-md-8 form-group">
                            <label>Tên chức vụ</label>
                            <input type="text" class="form-control" id="txtName" name="name" placeholder="Tên chức vụ"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btnSubmit">Hoàn tất</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>

    </div>
</div>



@section scripts{
    <script src="~/Assets/admin/position.js"></script>
}




