
@{
    ViewBag.Title = "Lịch thực hành";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
    ViewData["icon"] = "fa fa-calendar";
    ViewData["url"] = "/admin/practiceschedule";
}

<link href="~/Assets/plugins/bootstrap-glyphicon/bootstrap-glyphicons.css" rel="stylesheet" />
<link href="~/Assets/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label>Lọc theo thời gian bắt đầu</label>
            <div class='input-group date' id='dtpFromDate'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Lọc theo thời gian kết thúc</label>
            <div class='input-group date' id='dtpToDate'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3 form-group">
        <div class="input-group" style="margin-top:25px;">
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" id="btnSearch">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Tìm kiếm
                </button>
                <button type="button" class="btn btn-success" id="btnExportToExcel" style="margin-left:5px">
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                    Xuất file
                </button>
            </span>
        </div>
    </div>
</div>


<div class="table-responsive" style="margin-top:10px; height:300px; overflow-y: auto;">
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr class="text-info">
                <th>#</th>
                <th>Phòng học</th>
                <th>Môn học</th>
                <th>Giảng viên</th>
                <th>TIết</th>
                <th>Thời gian bắt đầu</th>
                <th>Thời gian kết thúc</th>
                <th>Nhận xét</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody id="tblCalendars"></tbody>
    </table>
</div>

@section scripts{
    <script src="~/Assets/plugins/bootstrap-datetimepicker/moment.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Assets/plugins/xlxs/xlsx.full.min.js"></script>
    <script src="~/Assets/admin/calendar.js"></script>
}




