<nav id="sidebar" role="navigation" data-step="2" data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;"
     data-position="right" class="navbar-default navbar-static-side">
    <div class="sidebar-collapse menu-scroll">
        <ul id="side-menu" class="nav">

            <div class="clearfix"></div>
            <li class="active">
                <a href="/">
                    <i class="fa fa-home">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Trang chủ</span>
                </a>
            </li>
            
            <li>
                <a href="/pcroom">
                    <i class="fa fa-sitemap fa-fw">
                        <div class="icon-bg bg-pink"></div>
                    </i><span class="menu-title">Phòng PC LAB</span>
                </a>

            </li>
            <li>
                <a href="/pcroom/book">
                    <i class="fa fa-desktop fa-fw">
                        <div class="icon-bg bg-violet"></div>
                    </i><span class="menu-title">Đặt phòng máy </span>
                </a>

            </li>
            <li>
                <a href="/practiceschedule/calendar">
                    <i class="fa fa-calendar" aria-hidden="true">
                        <div class="icon-bg bg-violet"></div>
                    </i><span class="menu-title">Lịch phòng máy</span>
                </a>

            </li>
            <li>
                <a href="/practiceschedule/owncalendar">
                    <i class="fa fa-calendar" aria-hidden="true">
                        <div class="icon-bg bg-violet"></div>
                    </i><span class="menu-title">Lịch của bạn</span>
                </a>

            </li>

        </ul>
    </div>
</nav>